body {
	min-width: 320px;
	margin: 0;
	padding: 0;
	font-family: Georgia, "Times New Roman", Times, serif;
	background: #f9f9f9;
	color: #333;
}

#content {
	overflow: hidden;
	padding: 0 32px;
}

h1 {
	margin: 0 8px;
	padding: 32px 8px;
	text-align: center;
	font-size: 3.8em;
	font-weight: normal;
	font-family: 'Raleway', sans-serif;
	color: #999;
	background-size: 226px 226px;
}

code {
	color: #117d14;
}

table {
	margin: 64px auto;
	border-collapse: collapse;
}
	
	th, td {
		height: 78px;
		padding: 8px;
		border: 1px solid #ddd;
	}

.disabled {
	color: #ccc;
}

p.more {
	margin-top: 32px;
}

a {
	text-decoration: none;
	color: #333;
}

a.action {
	display: inline-block;
	margin: 8px;
	padding: 24px;
	border-radius: 4px;
	cursor: pointer;
}

.positive {
	background: #4cd459;
}

.negative {
	background: #d44c4d;
}

.neutral {
	background: #fdc354;
}

.secondary-status {
	font-size: smaller;
	color: #666;
}

footer {
	margin-top: 128px;
}

acronym, abbr, kbd {
	cursor: help;
	border-bottom: none;
}

a acronym, a abbr {
	cursor: pointer;
}
